In [3]:
import pandas as pd
import numpy as np
import re 
import matplotlib.pyplot as plt
import seaborn
%matplotlib inline

In [4]:
data = pd.read_csv("train.csv")
w_test_data = pd.read_csv("test 2 (1).csv")

In [1]:
def transform_my_data(data):
    
    dummies = pd.get_dummies(data.DepartmentDescription)
    data[dummies.columns] = dummies 
    
    data = data.replace("Monday", 1)
    data = data.replace("Tuesday", 2)
    data = data.replace("Wednesday", 3)
    data = data.replace("Thursday", 4)
    data = data.replace("Friday", 5)
    data = data.replace("Saturday", 6)
    data = data.replace("Sunday", 7)
    data_dummies = data.iloc[:,7:]
    data_dummies = data_dummies.apply(lambda x: x*data["ScanCount"])
    data_dummies = data_dummies.replace(-0,0)

    data.loc[data.ScanCount < 0, 'Return'] = 1
    data.loc[data.Return != 1, 'Return'] = 0
    data = data.rename(columns={"ScanCount":"NumItems"})
    data = pd.concat([data, data_dummies], axis=1)
    return data

In [5]:
data = transform_my_data(data)

In [10]:
data.head()

,TripType,VisitNumber,Weekday,Upc,NumItems,DepartmentDescription,FinelineNumber,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,999,5,5,68113152929,-1,FINANCIAL SERVICES,1000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30,7,5,60538815980,1,SHOES,8931,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,30,7,5,7410811099,1,PERSONAL CARE,4504,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26,8,5,2238403510,2,PAINT AND ACCESSORIES,3565,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26,8,5,2006613744,2,PAINT AND ACCESSORIES,1017,0,0,0,...,0,0,0,0,0,0,0,0,0,0